.CreatureCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: calc(20% - 10px);
    max-height: /*420px;*/calc(50% - 10px);
    min-width: calc(20% - 10px);
    min-height: /*420px;*/calc(50% - 10px);
    margin: 5px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    transition: transform 1000ms;
}

.CreatureCard .header {
    display: flex;
    flex: 1;
    padding: 5px;
    background-color: #0004;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.CreatureCard .header span {
    flex: 10;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.CreatureCard .header button {
    flex: 1;
    font-size: large;
    border: none;
    background: none;
    color: var(--text-color);
    cursor: pointer;
}

.CreatureCard .body {
    display: flex;
    flex-direction: column;
    flex: 20;
}

.hp-input {
    display: flex;
    flex: 1;
    margin: 5px;
}
.hp-input i {
    width: 25px;
    border: solid 2px #0004;
    background-color: #0004;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.hp-input i:hover {
    width: 25px;
    border: solid 2px #0004;
    background-color: #0008;
}
.hp-input i:nth-child(2) {
    border-left: none;
    width: 40px;
}
.hp-input i:nth-child(4) {
    border-right: none;
    width: 40px;
}
.hp-input i:first-child {
    border-radius: 100px 0px 0px 100px;
}
.hp-input i:last-child {
    border-radius: 0px 100px 100px 0px;
}
.hp-input input {
    width: calc(100% - 140px);
    border-radius: 0px;
    border: solid 2px #0004;
    border-left: none;
    border-right: none;
    background-color: #0004;
    -moz-appearance: textfield;
    text-align: center;
    font-size: large;
}

.CreatureCard .body > div:nth-child(2) {
    display: flex;
    flex: 1;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.CreatureCard .body > table {
    flex: 5;
    margin: 5px;
    border-bottom: solid 2px #0004;
    border-right: solid 2px #0004;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.CreatureCard .body > table th, .CreatureCard .body > table td {
    border-left: solid 2px #0004;
    border-top: solid 2px #0004;
    text-align: center;
}

.CreatureCard .body > table th[stat='for'] {
    border-top-left-radius: 10px;
}
.CreatureCard .body > table th[stat='con'] {
    border-bottom-left-radius: 10px;
}
.CreatureCard .body > table th[stat='int'] {
    border-top-right-radius: 10px;
}
.CreatureCard .body > table th[stat='for'] {
    border-top-left-radius: 10px;
}

.CreatureCard .body > div:nth-child(4) {
    margin: 5px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #0004;
    padding: 5px;
    height: 180px;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
}
.CreatureCard .body > div:nth-child(4)::-webkit-scrollbar {
    background: none;
}
.CreatureCard .body > div:nth-child(4)::-webkit-scrollbar-thumb {
    background-color: #0004;
    border-radius: 150px;
    border: none;
}
.CreatureCard .body > div:nth-child(4)::-webkit-scrollbar-thumb:hover {
    background-color: #0008;
}


.CreatureCard .body > div:nth-child(4) > span {
    background-color: #0004;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 50px;
    left: 50px;
    border: solid 3px var(--selected-color);
    border-radius: 15px;
    background-color: #6190e6dd;
    padding: 10px;
    width: calc(100% - 125px);
    height: calc(100% - 125px);
    color: var(--text-color);
    font-size: x-large;

    display: flex;
}

.modal .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal .left > div:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.modal .left > div:nth-child(1) button {
    flex: 1;
    margin: 5px;
    font-size: xx-large;
    color: var(--text-color);
    border: solid 3px #0004;
    border-radius: 150px;
    background: none;
    cursor: pointer;
}
.modal .left > div:nth-child(1) button:hover {
    background-color: #0004;
}
.modal .left > div:nth-child(1) .hp-input {
    flex: 14;
    margin: 10px;
}
.modal .left > div:nth-child(1) .hp-input > input {
    flex: 14;
    width: calc(100% - 210px);
}
.modal .left > div:nth-child(1) .hp-input > i:nth-child(2), .modal .left > div:nth-child(1) .hp-input > i:nth-child(4) {
    width: 75px;
}

.modal .left > div:nth-child(2) {
    flex: 1;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0004;
    margin: 5px 5px 0px 5px;
}
.modal .left > div:nth-child(2) > span {
    flex: 1;
    height: calc(100% - 0.5em);
    padding-top: 0.5em;
    text-align: center;
}
.modal .left > div:nth-child(2) > span:first-child {
    border-right: solid 2px #0004;
}

.modal .left > div:nth-child(3) {
    flex: 1;
    background-color: #0004;
    border-top: solid 2px #0004;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 5px;
}

.modal .left > div:nth-child(4) {
    flex: 1;
    display: flex;
    background-color: #0004;
    margin: 0px 5px 5px 5px;
    border-top: solid 2px #0004;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal .left > div:nth-child(4) > span {
    flex: 1;
    text-align: center;
    height: calc(100% - 0.5em);
    padding-top: 0.5em;
}
.modal .left > div:nth-child(4) > span:first-child {
    border-right: solid 2px #0004;
}

.modal .left > div:nth-child(5),.modal .left > div:nth-child(6), .modal .left > div:nth-child(7) {
    height: 33%;
    display: flex;
    flex-direction: column;
    background-color: #0004;
    border-radius: 10px;
    margin: 5px;
}
.modal .left > div:nth-child(5) > div,.modal .left > div:nth-child(6) > div, .modal .left > div:nth-child(7) > div{
    overflow-y: auto;
}
.modal .left > div:nth-child(6) {
    height: 17%;
}

.modal .left > div:nth-child(7) {
    height: 17%;
}
.modal .left > div:nth-child(5) > span, .modal .left > div:nth-child(6) > span, .modal .left > div:nth-child(7) > span {
    flex: 1;
    text-align: center;
    font-size: xx-large;
    background-color: #0004;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal .left > div:nth-child(5) > div, .modal .left > div:nth-child(6) > div, .modal .left > div:nth-child(7) > div {
    flex: 6;
    text-align: center;
}

.modal .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.modal .right .stats {
    display: flex;
    flex: 1;
    margin-bottom: 5px;
}
.modal .right table {
    flex: 1;
    background-color: #0004;
    border-radius: 10px;
}
.modal .right table th {
    flex: 1;
    border: solid 2px #0004;
    border-top: none;
    border-left: none;
    width: 16.6%;
}
.modal .right table td {
    flex: 1;
    text-align: center;
    border: solid 2px #0004;
    border-bottom: none;
    border-top: none;
    border-left: none;
}
.modal .right table th:last-child, .modal .right table td:last-child {
    border-right: none;
}

.modal .right .abilities, .modal .right .actions {
    display: flex;
    flex: 4;
    flex-direction: column;
    background-color: #0004;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}
.modal .right .abilities > span, .modal .right .actions > span {
    flex: 1;
    width: calc(100% - 200px);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: solid 2px #0008;
    margin: 0px 100px 0px 100px;
}

.modal .right .abilities > div, .modal .right .actions > div {
    height: 307px;
    overflow-y: auto;
}