.Timeline > .header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 99%;
    padding: 5px;
    border-bottom: dashed 3px var(--main-color);
    margin-bottom: 5px;
}
.Timeline > .header > button {
    border: solid 2px #0004;
    background-color: var(--main-color);
    font-size: larger;
    color: var(--text-color);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.Timeline > .header > button:hover {
    background-color: var(--selected-color);
}

.Timeline > div:not(.header) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93vh;
    margin-top: 5px;
    overflow-y: auto;
}

.Timeline > div:not(.header) > div {
    position: relative;
}

.Timeline > div > div > .elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5em;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
}

.Timeline > div > div > .elem.selected {
    border: solid 3px var(--text-color);
}

.Timeline > div > div > .elem.player {
    filter: grayscale(1)
}

.Timeline > div >  div > .elem > span {
    flex: 1;
    width: 98%;
    text-align: center;
    padding: 2px;
}

.Timeline > div > div >  .elem > span[type='name'] {
    font-size: large;
    font-weight: bold;
    background-color: #0004;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Timeline > div > div >  .elem > span[type='armor'] {
    border-bottom: solid 2px #0004;
}

.line-time {
    position: absolute;
    top: 10px;
    left: calc(50% - 5px);
    width: 10px;
    height: calc(100% - 20px);
    z-index: -1;
    background-color: var(--main-color);
}